--constraint constraints.txt

streamlit
pillow
firebase-admin
fastapi
uvicorn
python-multipart
requests
folium
langchain
langchain_ollama
streamlit_geolocation
streamlit_folium
pydantic
ollama
google-generativeai
